# strings

In [1]:
name = "Niyanshi"

In [6]:
name.count('s')  #There is one s in the given string

1

In [14]:
name.center(27)

'          Niyanshi         '

In [18]:
name.endswith('i')

True

In [24]:
name.encode()

b'Niyanshi'

In [25]:
name.casefold()

'niyanshi'

In [26]:
name.endswith('k')

False

# lists

In [45]:
lst ={'Karan','sakshi',24,56.7,'nehal'}

In [46]:
print (lst)

{'sakshi', 'Karan', 'nehal', 24, 56.7}

In [49]:
lst.clear()

In [50]:
print(lst)

set()

In [10]:
lst ={'Karan','sakshi',24,56.7,'nehal'}

In [11]:
lst.pop()

'sakshi'

In [12]:
lst

{24, 56.7, 'Karan', 'nehal'}

In [13]:
lst.add('sakshi')

In [14]:
lst

{24, 56.7, 'Karan', 'nehal', 'sakshi'}

In [16]:
lst.isdisjoint('karan')

True

In [17]:
lst.intersection()

{24, 56.7, 'Karan', 'nehal', 'sakshi'}

# dictionaries

In [28]:
students = {"student1":{"Name":'Niyanshi',"Age":20,"Branch":'Cs'},"student2":{"Name":'Nidhi',"Age":19,"Branch":'Cs'}}

In [29]:
students

{'student1': {'Name': 'Niyanshi', 'Age': 20, 'Branch': 'Cs'},
 'student2': {'Name': 'Nidhi', 'Age': 19, 'Branch': 'Cs'}}

In [31]:
students['student1']

{'Name': 'Niyanshi', 'Age': 20, 'Branch': 'Cs'}

In [38]:
students.pop("student1")

{'Name': 'Niyanshi', 'Age': 20, 'Branch': 'Cs'}

In [39]:
students

{'student2': {'Name': 'Nidhi', 'Age': 19, 'Branch': 'Cs'}}

In [41]:
students.update({"student1":{"Name":'Niyanshi',"Age":20,"Branch":'Cs'}})

In [42]:
students

{'student2': {'Name': 'Nidhi', 'Age': 19, 'Branch': 'Cs'},
 'student1': {'Name': 'Niyanshi', 'Age': 20, 'Branch': 'Cs'}}

In [43]:
students.items()

dict_items([('student2', {'Name': 'Nidhi', 'Age': 19, 'Branch': 'Cs'}), ('student1', {'Name': 'Niyanshi', 'Age': 20, 'Branch': 'Cs'})])

In [48]:
students.keys()

dict_keys(['student2', 'student1'])

In [49]:
students.values()

dict_values([{'Name': 'Nidhi', 'Age': 19, 'Branch': 'Cs'}, {'Name': 'Niyanshi', 'Age': 20, 'Branch': 'Cs'}])